* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
.app {
    color: black;
    /* background-color: black; */
}
.header {
    max-width: 1080px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #dbcfcf;
}
  
.logo img{
    padding: 19px 0px;
    margin-right: 40px;
}
.category {
    display: inline-block;

}
.header_clone {
    display: flex;
    align-items: center;
}
  
.logo {
    margin-right: 20px;
}
  
.search {
    flex-grow: 1;
    margin-right: 20px;
    width: 170px;
    height: 33px;
    border-color: rgba(0,0,0,.09);
    border-radius: 99px;
    padding: 9px;
}
  
.category {
    margin-left: auto;
}
  
.category_1 {
    display: flex;
    list-style: none;
    padding: 0;
}
  
.category_2 {
      font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #095b90;
    padding: 10px;
}
.baner img {
    width: 100%;
    padding: 10px;
}
.content1 {
    width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #d76429;
    margin-bottom: 50px;
}
.table_title_1 {
    vertical-align: top;
    margin-top: 0;
    width: 530px;
    height: 530px;
    padding: 20px;
    text-align: left;
    font-size: 16px;
}
.table_title_2 {
    width: 530px;
    height: 530px;
    padding: 20px;
    
}
.table_title_img{
    border-radius: 41px 41px 41px 41px;
}
.table_title_1 h5{
    font-size: 16px;
    color: #d76429;
    font-family: "Roboto",Sans-serif;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    margin-bottom: 20px;
}
.table_title_1 h3{
    color: #095d93;
    font-family: Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    margin-bottom: 20px;

}
.table_title_1 .span_1{
    color: #000;
    font-family: "Roboto",Sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
.table_title_1 .span_2{
    color: #000;
    font-family: "Roboto",Sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    
}
.table_title_1 h5,
.table_title_1 h3,
.table_title_1 p {
  line-height: 1.6; /* Giá trị tùy chỉnh */
}
  /* .th:first-child {
    color: orange;
  }
  
  .th:nth-child(2) {
    color: blue;
  }
  
  .th:nth-child(3) {
    color: black;
  } */
  
  .th a {
    border-bottom: none;
    background-color: orange;
    color: white;
    padding: 12px 24px;
  }
  
  .th a:hover {
    text-decoration: none;
  }
  
  .th:last-child {
    border: 10px solid;
  }
.ruler {
    width: 100%;
    height: 1px;
    background-color: #d76429;
    margin: 20px 0px;
}
.button { 
    background-color: #d76429;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 99px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Roboto",Sans-serif;
    font-weight: 600;
}
.button:hover{
    background-color: #095d93;
}
.table_title_s1 h3 {
    color: #095d93;
    font-family: Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    margin-bottom: 20px;
}
.table_title_s1 .span_s1{
    color: #000;
    font-family: "Roboto",Sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
.content2 {
    width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    
}
.content2_table {
    display: flex;
    flex-direction: row;
  }
  
  .content2_table tr {
    display: flex;
    flex-direction: column;
  }
  
.table_s1 {
    width: 265px;
    height: 265px;
    padding: 5px;
    display: inline-block;
    text-align: center; 
}
.review h5{
    font-size: 16px;
    color: #d76429;
    font-family: "Roboto",Sans-serif;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    margin-bottom: 20px;
}
.review h3{
    color: #095d93;
    font-family: Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    margin-bottom: 20px;
    font-weight: 700;
    /* font-size: px; */
}
.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services {
    width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.services_content_titler h3 {
    color: #095d93;
    font-family: Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
.services_content_img {
    padding-bottom: 20px;
}

.services_container {
    display: flex;
    justify-content: center;
    background-color: #a99b9b;
  }
  
  .services_content {
    width: 360px;
    height: 514px;
    margin-right: 10px; /* Khoảng cách giữa các services_content (tùy chọn) */
  }
  
  .services_content:last-child {
    margin-right: 0; /* Loại bỏ khoảng cách của services_content cuối cùng (tùy chọn) */
  }
  .services_content_titler_span {
    color: #000;
    font-family: "Roboto",Sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    height: 148px;
    line-height: 1.6;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.client-review{
    width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 118px;
}
.client-review-1 {
    width: 1140px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.client-review-1 h3 {
    color: #d76429;
    font-family: Sans-serif;
    font-weight: 700;
    font-size: 50px;
text-align: center;}
.client-review-1 p{
    color: #095d93;
    font-family: "Roboto",Sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.6;
}
.content5{
    max-width: 100%;
    background-color: #281d4e;
    height: 580px;
}
.procedure{
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
}
.procedure li {
    list-style: none; /* Loại bỏ dấu đầu dòng */
    padding: 0; /* Loại bỏ padding mặc định */
    margin: 0; /* Loại bỏ margin mặc định */
}
.procedure .procedure_img,.procedure_input{
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.procedure_input{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.procedure_img img{
    border-radius: 41px 41px 41px 41px;
}
.procedure_input_new{
    width: 100%;
    height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.procedure_input_1,
.procedure_input_2,
.procedure_input_3,
.procedure_input_4,
.procedure_input_new {
  display: inline-block;
  width: 100%;
  font-family: Sans-serif;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.procedure_input_new .procedure_input_1{
    color: #d76429;
  }
.procedure_input_1 {
    font-size: 16px;
    color: #fff;
    font-family: "Roboto",Sans-serif;
    font-weight: 700;
    margin-bottom: 20px;}
.procedure_input_2{
    color: #fff;
}
  
.procedure_input_3 {
    font-size: 14px;
    color: #fff;

}
.procedure_input_4 {
    display: flex;
    font-size: 12px;
    color: #fff;
    background-color: rgb(94, 132, 226);
    height: 30px;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}
.procedure_input_new span{
    height: 30px;
}
